/*Estilo Proprios*/
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color:#F7F8FA;
    font-family: 'Poppins', sans-serif;
}

.title {
    background-color:#F9C80E;
    border-radius: 10px 10px 0px 0px;
    padding: 0.6rem;
}

.title-second {
    background-color:#EF3737;
    border-radius: 10px 10px 0px 0px;
    padding: 0.6rem;
}

.title-fourth {
    background-color:#11C07F;
    border-radius: 10px 10px 0px 0px;
    padding: 0.6rem;
}

.title h3, .title-second h3, .title-fourth h3{
    text-align: center;
    color:#ffffff;
    font-size: 1.4rem;
    font-weight: 400;
}

.subtitle {
    background-color:#00000014;
    padding: 0.3rem;
}

.subtitle p {
    text-align: center;
    color:#414246;
    font-size: 0.6rem !important;
    font-weight: 200 !important;
}

.botao{
    background-color: #EF3737;
    width:35%;
    padding:0.8rem;
    border-radius: 40px;
    display:block;
    margin: 15px auto 15px auto;
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.botao-second{
    background-color: #EF3737;
    width:32%;
    padding:0.8rem;
    border-radius: 40px;
}

.botao-fourth{
    background-color: #11C07F;
    width:32%;
    padding:0.8rem;
    border-radius: 40px;
}

.botao p {
    text-align: center;
    color:#FFFFFF;
    font-size: 0.7rem !important;
    font-weight: 300 !important;
}

.botao-second p, .botao-fourth p{
    text-align: center;
    color:#FFFFFF;
    font-size: 0.4rem !important;
    font-weight: 300 !important;
}


.botao span {
    text-align: center;
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.botao-second span, .botao-fourth span {
    text-align: center;
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
}

.text-block{
    padding: 1.5rem;
    color:#414246;
}

.text-block p {
    font-size: 0.8rem !important;
    font-weight: 300 !important;
    margin-top:10px !important;
    color:#414246;
}

.text-block span {
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    margin-top:0px !important;
    color:#414246;
}
a {
    text-decoration: none;
    color:#4692F2;
    font-size: 0.7rem !important;
    font-weight: 200 !important;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.second{
    position: relative;
    z-index: 1;
    margin-top: -300px !important;
}

.second .vertical-timeline-element-icon{
    border-color: #EF3737 !important;
}

.third .vertical-timeline-element-icon{
    border-color: #EF3737 !important;
}

.fourth{
    position: relative;
    z-index: 1;
    margin-top: -250px !important;
}

.fourth .vertical-timeline-element-icon{
    border-color: #11C07F !important;
}

/* Estilos del Componente */
.vertical-timeline * {
    box-sizing:border-box
}

.vertical-timeline {
    width:95%;
    max-width:1170px;
    margin:0 auto;
    position:relative;
    padding:2em 0
}

.vertical-timeline::after {
    content:'';
    display:table;
    clear:both
}

.vertical-timeline::before {
    content:'';
    position:absolute;
    top:0;
    left:18px;
    height:100%;
    width:4px;
    background:#D1D1D1
}

@media only screen and (min-width:1170px){
    .vertical-timeline.vertical-timeline--two-columns {
        width:90%
    }
    
    .vertical-timeline.vertical-timeline--two-columns:before {
        left:50%;
        margin-left:-2px
    }
}

.vertical-timeline-element {
    position:relative;
    margin:2em 0
}

.vertical-timeline-element>div {
    min-height:1px
}

.vertical-timeline-element:after {
    content:"";
    display:table;
    clear:both
}

.vertical-timeline-element:first-child {
    margin-top:0
}

.vertical-timeline-element:last-child {
    margin-bottom:0
}

@media only screen and (min-width:1170px){
    .vertical-timeline-element{
        margin:4em 0
    }
    .vertical-timeline-element:first-child{
        margin-top:0
    }
    .vertical-timeline-element:last-child{
        margin-bottom:0
    }
}

.vertical-timeline-element-icon{
    position:absolute;
    top:0;
    width:40px;
    height:40px;
    border-radius:50%;
    border:4px solid;
    border-color: #F9C80E;
}

.vertical-timeline-element-icon svg {
    display:block;
    width:24px;
    height:24px;
    position:relative;
    left:50%;
    top:50%;
    margin-left:-12px;
    margin-top:-12px
}

@media only screen and (min-width:1170px){
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        width:60px;
        height:60px;
        left:50%;
        margin-left:-30px
    }
}

.vertical-timeline-element-icon{
    -webkit-transform:translateZ(0);
    -webkit-backface-visibility:hidden
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden{
    visibility:hidden
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in{
    visibility:visible;
    -webkit-animation:cd-bounce-1 .6s;
    -moz-animation:cd-bounce-1 .6s;
    animation:cd-bounce-1 .6s
}

@-webkit-keyframes cd-bounce-1{
    0%{
        opacity:0;-webkit-transform:scale(.5)
    }
    60%{
        opacity:1;-webkit-transform:scale(1.2)
    }
    100%
    {
        -webkit-transform:scale(1)
    }
}

@-moz-keyframes cd-bounce-1{
    0%{
        opacity:0;
        -moz-transform:scale(.5)
    }
    60%{
        opacity:1;
        -moz-transform:scale(1.2)
    }
    100%{
        -moz-transform:scale(1)
    }
}

@keyframes cd-bounce-1{
    0%{
        opacity:0;
        -webkit-transform:scale(.5);
        -moz-transform:scale(.5);
        -ms-transform:scale(.5);
        -o-transform:scale(.5);
        transform:scale(.5)
    }
    60%{
        opacity:1;
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -o-transform:scale(1.2);
        transform:scale(1.2)
    }
    
    100%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}

.vertical-timeline-element-content{
    position:relative;
    margin-left:60px;
    background:#fff;
    border-radius:.25em;
    padding:1em;
}

.vertical-timeline-element--no-children .vertical-timeline-element-content{
    background:0 0;
    box-shadow:none
}

.vertical-timeline-element-content:after{
    content:"";
    display:table;
    clear:both
}

.vertical-timeline-element-content h2{
    color:#576a79
}

.vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline-element-content p{
    font-size:13px;
    font-size:.8125rem;
    font-weight:500
}

.vertical-timeline-element-content .vertical-timeline-element-date{
    display:inline-block
}

.vertical-timeline-element-content p{
    margin:0;
    line-height:1.6
}

.vertical-timeline-element-title{
    margin:0
}

.vertical-timeline-element-subtitle{
    margin:0
}

.vertical-timeline-element-content .vertical-timeline-element-date{
    float:left;
    padding:.8em 0;
    opacity:.7
}

.vertical-timeline-element-content-arrow{
    content:'';
    position:absolute;
    top:16px;
    right:100%;
    height:0;
    width:0;
    border:7px solid transparent;border-right:7px solid #fff
}

.vertical-timeline-element--no-children .vertical-timeline-element-content-arrow{
    display:none
}

@media only screen and (min-width:768px){
    .vertical-timeline-element-content h2{
        font-size:20px;
        font-size:1.25rem
    }
    .vertical-timeline-element-content p{
        font-size:16px;
        font-size:1rem
    }
    .vertical-timeline-element-content .vertical-timeline-element-date{
        font-size:14px;
        font-size:.875rem
    }
}

@media only screen and (min-width:1170px){
    .vertical-timeline--two-columns .vertical-timeline-element-content{
        margin-left:0;
        padding:0;
        width:44%;
        border-radius:10px
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content-arrow{
        top:24px;
        left:100%;
        transform:rotate(180deg)
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
        position:absolute;
        width:100%;
        left:124%;
        top:6px;
        font-size:16px;
        font-size:1rem
    }
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content{
        float:right
    }
    
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow{
        top:24px;
        left:auto;
        right:100%;
        transform:rotate(0)
    }
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date{
        left:auto;
        right:124%;
        text-align:right
    }
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden{
    visibility:hidden
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in{
    visibility:visible;
    -webkit-animation:cd-bounce-2 .6s;
    -moz-animation:cd-bounce-2 .6s;
    animation:cd-bounce-2 .6s
}

@media only screen and (min-width:1170px){
    .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content.bounce-in,.vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in{
        -webkit-animation:cd-bounce-2-inverse .6s;
        -moz-animation:cd-bounce-2-inverse .6s;
        animation:cd-bounce-2-inverse .6s
    }
}

@media only screen and (max-width:1169px){
    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in{
        visibility:visible;
        -webkit-animation:cd-bounce-2-inverse .6s;
        -moz-animation:cd-bounce-2-inverse .6s;
        animation:cd-bounce-2-inverse .6s
    }
}

@-webkit-keyframes cd-bounce-2{
    0%{
        opacity:0;
        -webkit-transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0)
    }
}

@-moz-keyframes cd-bounce-2{
    0%{
        opacity:0;
        -moz-transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -moz-transform:translateX(20px)
    }
    100%{
        -moz-transform:translateX(0)
    }
}

@keyframes cd-bounce-2{
    0%{
        opacity:0;
        -webkit-transform:translateX(-100px);
        -moz-transform:translateX(-100px);
        -ms-transform:translateX(-100px);
        -o-transform:translateX(-100px);
        transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(20px);
        -moz-transform:translateX(20px);
        -ms-transform:translateX(20px);
        -o-transform:translateX(20px);
        transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
        transform:translateX(0)
    }
}

@-webkit-keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;-webkit-transform:translateX(100px)
    }
    60%{
        opacity:1;-webkit-transform:translateX(-20px)
    }
    100%{
        -webkit-transform:translateX(0)
    }
}

@-moz-keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;
        -moz-transform:translateX(100px)
    }
    60%{
        opacity:1;
        -moz-transform:translateX(-20px)
    }
    100%{
        -moz-transform:translateX(0)
    }
}

@keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;
        -webkit-transform:translateX(100px);
        -moz-transform:translateX(100px);
        -ms-transform:translateX(100px);
        -o-transform:translateX(100px);
        transform:translateX(100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(-20px);
        -moz-transform:translateX(-20px);
        -ms-transform:translateX(-20px);
        -o-transform:translateX(-20px);
        transform:translateX(-20px)
    }
    100%{
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
        transform:translateX(0)
    }
}